<web-app>
<servlet>
<servlet-name>config</servlet-name>
<servlet-class>ConfigServlet</servlet-class>
<init-param>
<param-name>message</param-name>
<param-value>Welcome</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>config</servlet-name>
<url-pattern>/config</url-pattern>
</servlet-mapping>
</web-app>